<section>
  <h2 class="text-2xl font-semibold mb-4 border-b border-zinc-700 pb-2">Projects</h2>
  <ul class="space-y-6">
    <li class="bg-zinc-800 p-4 rounded-lg shadow hover:shadow-lg transition-shadow">
      <a href="https://github.com/anderson3x11/respawn" target="_blank" class="text-xl font-bold text-blue-400 hover:underline flex items-center gap-2">
        <i class="bx bxl-github text-2xl"></i>⚡️ Respawn
      </a>
      <p class="text-zinc-400 mt-2">
        Respawn is a personal Arch Linux setup automation tool built with Bash.
      </p>
    </li>
    <li class="bg-zinc-800 p-4 rounded-lg shadow hover:shadow-lg transition-shadow">
      <a href="https://anderson3x11.github.io/beekeep/" target="_blank" class="text-xl font-bold text-blue-400 hover:underline flex items-center gap-2">
        <i class="bx bxl-github text-2xl"></i>🐝 Beekeep
      </a>
      <p class="text-zinc-400 mt-2">Incremental game in which you collect pollen, make honey, and get bees !</p>
    </li>
  </ul>
</section>
