<section class="max-w-4xl mx-auto mt-12">
  <header class="mb-12 border-b border-zinc-700 pb-4">
    <h1 class="text-2xl font-bold text-white">🗂️ Projects</h1>
    <p class="text-sm text-zinc-400 mt-2">
      A showcase of my favorite projects.
    </p>
  </header>

  <div class="flex flex-col space-y-6">
    <!-- Respawn Project -->
    <a
      href="https://github.com/anderson3x11/respawn"
      target="_blank"
      class="group block bg-zinc-800/50 p-6 rounded-xl border border-zinc-700/50 transition-colors duration-300"
    >
      <h2 class="text-base font-mono text-white flex items-center gap-2">
        <span
          class="text-amber-500 transition-transform duration-300 group-hover:scale-110"
          >⚡️</span
        >
        Respawn
        <span
          class="ml-2 opacity-0 -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300"
          >→</span
        >
      </h2>
      <p class="text-sm text-zinc-300 mt-2 font-mono">
        Respawn is a personal Arch Linux setup automation tool built with Bash.
      </p>
    </a>

    <!-- Beekeep Project -->
    <a
      href="https://anderson3x11.github.io/beekeep/"
      target="_blank"
      class="group block bg-zinc-800/50 p-6 rounded-xl border border-zinc-700/50 transition-colors duration-300"
    >
      <h2 class="text-base font-mono text-white flex items-center gap-2">
        <span
          class="text-amber-500 transition-transform duration-300 group-hover:scale-110"
          >🐝</span
        >
        Beekeep
        <span
          class="ml-2 opacity-0 -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300"
          >→</span
        >
      </h2>
      <p class="text-sm text-zinc-300 mt-2 font-mono">
        Incremental game in which you collect pollen, make honey, and get bees !
      </p>
    </a>
  </div>
</section>
