@import 'animations.css';

/* Base styles */
body {
    font-family: 'IBM Plex Mono', monospace;
    background: #1a1a1a;
    color: #c6d0f5;
}

/* Navbar specific styles */
.sidebar-nav {
    background: #242424;
}

/* Links */
a {
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.8;
    transform: translateY(-4px);
}